html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color:#ffccd5;
}

header {
  background-color: lightpink;
  padding: 3%;
}

.cute {
  display:inline-flex;
  color: #7e6367;
  font-size: 5.5vw;
  align-items:center; 
}
a:hover {
  color:#564346
}

a {
  color:#7e6367;
}

hr {
  margin:0;
  border-color:deeppink;
}

#main {
  text-align:center;
}

h6 {
  margin: 1px;
}
